
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    /**************************** 
        Primary colors 
    *****************************/
    --brandColor: hsl(160, 39%, 71%);
    --marineblue:  hsl(213, 96%, 18%);
    --purplishBlue: hsl(243, 100%, 62%);
    --PastelBlue: hsl(228, 100%, 84%);
    --LightBlue: hsl(206, 94%, 87%);
    --StrawberryRed: hsl(354, 84%, 57%);

    /**************************** 
            Neutral colors 
     *****************************/

     --CoolGray: hsl(231, 11%, 63%);
     --LightGray: hsl(229, 24%, 87%);
     --Magnolia: hsl(217, 100%, 97%);
     --Alabaster: hsl(231, 100%, 99%);
     --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: url("assets/fonts/Ubuntu-Regular.ttf");
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("assets/fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
  }





body{
    font-family: "Ubuntu";
    background-color: hsl(212, 45%, 89%);
}

.warning_ForPlan{
  position: absolute;
  /* margin: auto; */
  left: 55%;
  top: 21%;
  color: var(--White);
  background: var(--StrawberryRed);
  transition: 5s ease;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.attribution { font-size: 11px; text-align: center;  margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }

.Main-form{
    display: flex;
    margin-top: 10px;
    background: var(--White);
    /* padding: 10px; */
    width: 68%;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    border-radius: 10px;
}

.siderBar {
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 98vh;
    width: 46%;
  }

 .parent-Circle{
   margin-top: 3rem;
 }

  .circle-main{
    color: var(--White);
    display: flex;
    padding: 12px;
    margin-left: 2rem;
    /* margin-top: 3rem; */
  }
  .circle-group{
    background-color: var(--LightBlue);
    border-radius: 50%;
    padding: 5px 10px;
    color: var(--marineblue);
    font-weight: 700;
    /* width: 100%; */
     cursor: pointer;
  }
  .circle-group-2, .circle-group-3, .circle-group-4{
    background: none;
    border: 1px solid var(--LightBlue);
    color: var(--LightBlue);
  }
  .morther-Circle{
    margin-top: 12px;
  }
  .info-steps{
    padding-left: 11px;
    line-height: 0px;
    margin-top: 17px;
    cursor: pointer;
  }
  .info-steps h6{
    margin-top: -5px;
  }
  .info-steps p{
    color: var(--LightGray);
  }
  

  /******************************************
  The css for Personal information begins here 
  ********************************************/
  .btnDisplay-2{
  display: none;
  }
  .form-Page{
    width: 900px;
    height: 600px;
  }

  .biodata-form-page h3{
    margin-top: 3rem;
    margin-left: 6rem;
    font-weight: 700;
    color: var(--marineblue);
    /* font-family: 'Ubuntu', sans-serif; */
  }
  .biodata-form-page p{
    color: var(--CoolGray);
    margin-left: 6rem;
  }
  .Personal-Info-details{
    margin-top: 2rem;
    margin-left: 7rem;
    height: 16rem;
  }

  .Personal-Info-details label{
   
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: var(--marineblue);
 }
 .Personal-Info-details .control-input{
    /* background: #FFFFFF; */
    /* border: 1px solid #1565D8; */
    /* border: 1px solid #8692A6; */
    font-weight: 500;
    color: var(--marineblue);
    height: 46px;
    width: 87%;
    /* margin-bottom: -10px; */
    /* box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11); */
    border-radius: 6px;
 }

 .Personal-Info-details .control-input:focus{
    border: 1px solid var(--purplishBlue);
 }
 .Personal-Info-details input[placeholder]{
  font-weight: 750;
  color: var(--marineblue)
 }

 .Personal-Info-details button{
    margin-top: 5rem;
    margin-left: 21rem;
    color: var(--White);
    background-color: var(--marineblue);
    z-index: 99;
    
 }


 .Personal-Info-details button:hover{
  /* margin-top: 5rem; */
    color: var(--White);
    background-color: var(--marineblue);
    z-index: 99;
 }
 /* *****************
 css for validating the form begins here 
 *********************/

 .validate{
  color: var(--StrawberryRed);
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  margin-top: -1.2rem;
  margin-left: 16rem;
  display: none;
 }
 .validate-2{
  color: var(--StrawberryRed);
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  margin-top: -1.2rem;
  margin-left: 12rem;
  display: none;
 }



  /* *****************
 css for validating the form ends here 
 *********************/



 .display-one{
  display: block;
  animation: click-wave 0.6s ease-in-out;
 }
 .display-two{
  display: none;
  animation: click-wave 0.6s ease-in-out;
 }
 .display-three{
  display: none;
  /* animation: click-wave 0.6s ease-in-out; */
 }
 .display-four{
  display: none;
  animation: click-wave 0.6s ease-in-out;
 }
 .display-five{
  display: none;
  animation: click-wave 0.6s ease-in-out;
 }

 /******************************************
  The css for Mini-plans begins here 
  ********************************************/
 .Mini-plan{
   display: flex;
   justify-content: space-between;
   width: 75%;
   margin-top: 2rem;
  margin-left: 7rem;
 }
 .plan-1, .plan-2, .plan-3{
  border: 1px solid var(--LightGray);
  border-radius: 6px;
  padding: 10px;
  background-color: var(--White);
  cursor: pointer;
  width: 29%;
  height: 10rem;
  transition: all 0.5s;
 }
 .plan-1:hover, .plan-2:hover, .plan-3:hover{
  border: 1px solid var(--purplishBlue);
  background-color: hsl(206, 94%, 87%, 0.2);
  box-shadow: -1px 2px 0px 0 var(--purplishBlue);
 }
  .active{
  border: 1px solid var(--purplishBlue);
  background-color: hsl(206, 94%, 87%, 0.2);
  box-shadow: -1px 1px 0px 0 var(--purplishBlue);
 }

 .plan-selection{
  margin-top: 3rem;
  /* margin-top: 2rem; */
  line-height: 8px;
 }
 .plan-selection h6{
  font-weight: 700;
  color: var(--marineblue);
 }

 
 .plan-selection p{
  color: var(--CoolGray);
  font-weight: 400;
  font-size: 15px;
 }
 .yearly-plan-section{
  color: var(--marineblue);
 font-weight: 400;
 }

 .button-switch{
  display: flex;
  height: 2rem;
  width: 75%;
  border-radius: 6px;
  justify-content: space-evenly;
  background-color:hsl(206, 94%, 87%, 0.2);
  margin-top: 2rem;
  margin-left: 7rem;
 }
 .buttonSwitchDisplayB{
  display: none;
 }
 .switch{
  position: relative;
  background-color: var(--marineblue);
  width: 7%;
  /* padding: 10px; */
margin-top: 7px;
  border-radius: 10px;
  height: 50%;
cursor: pointer;}

  .switch::after{
    position: absolute;
    content: " ";
    /* padding: 10px; */
    top: 2px;
    left: var(--left-value, 4px);
     /* left: 16px; */
    /* margin-bottom: 1rem; */
    /* margin: 4px; */
    width: 35%;
    background-color: var(--Magnolia);
    height: 80%;
    border-radius: 50%;
  }
  .monthly{
    color: var(--marineblue);
    font-weight: 500;
  }

   .yearly{
    color: var(--CoolGray);
    font-weight: 500;
  }
  .mini-plan-btn{
    justify-content: space-between;
    width: 76%;
    margin-top: 9rem;
    margin-left: 6.6rem;
    display: flex;
  }
 .planButton-1{
    font-weight: 700;
    color: var(--CoolGray);
  }
  .planButton-1:hover{
    font-weight: 700;
    color: var(--marineblue);
  }

  .mini-plan-btn .planButton-2{
    color: var(--White);
    background-color: var(--marineblue);
  }

 /******************************************
  The css for Add-ons begins here 
  ********************************************/
  .pick-add-ons{
    
    margin-left: 7rem;
  }
  .Add-ons-box-1{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 94%;
    padding: 20px;
    height: 5rem;
    border-radius: 10px;
    background-color: hsl(206, 94%, 87%, 0.2);
    border: 1px solid var(--purplishBlue);
    cursor: pointer;
    animation: click-wave 0.7s ease-in-out;
  }

  .Add-ons-box-1:hover{
    background-color: var(--White);
  }

   .Add-ons-box-1 span{
    position: absolute;
    display: block;
   }
   .Add-ons-box-1 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 40%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--StrawberryRed));
   }
   .Add-ons-box-1:hover span:nth-child(1){
    left: 34rem;
    top: 14.8rem;
    transition: 1s;
    transform: translateY(100%);
   }

  .margin-add-ons{
    margin-top: 14px;
  }
  .add-on-level-1{
    line-height: 9px;
    margin-left: -7rem;
  }

  #largeStorage{
    margin-left: -10rem;
  }
  #Customizable{
    margin-left: -5.3rem;
  }

  .add-on-amount{
 color: var(--purplishBlue);
  }

  .Add-ons-checkbox{
    margin-top: 0.5rem;
   /* color: var(--purplishBlue); */
  }

  .form-check-input {
    width: 1.3em;
    height: 1.3em;
    border: 1px solid var(--CoolGray);
  }

  .form-check-input:checked {
    background-color: var(--purplishBlue);
    /* border-color: #0d6efd; */
}

@keyframes click-wave{
  0%{
 
    /* width: 40%; */
     margin-top: -80%;
    opacity:0.7s;
    /* position: relative; */
  }
  100%{
    /* height: 200px; */
    /* width: 100%; */
    /* margin-top: 14px; */
    margin-top: 50px;
    opacity: 0;
    /* margin-left: -80px;
    margin-top: -80px; */
  }
}

 /******************************************
  The css for Active state four(4) begins here 
  ********************************************/
  .Add-ons-box-2{
   
   
    width: 94%;
    
    height: auto;
    border-radius: 7px;
    background-color: hsl(206, 94%, 87%, 0.2);
    border: 1px solid hsl(231, 11%, 63%, 0.2);
    cursor: pointer;
   
  }

  .add-on-level-2{
    line-height: 9px;
    /* margin-left: -7rem; */
  }
  .Add-ons-checkbox-2{
    justify-content: space-between;
    gap: 40px;
    display: flex;
    padding: 20px;
    /* cursor: pointer; */
   /* color: var(--purplishBlue); */
  }
  .Add-ons-checkbox-3{
    justify-content: space-between;
    gap: 40px;
    display: flex;
    padding: 20px;
    margin-top: -2rem;
   /* color: var(--purplishBlue); */
  }
  .Add-ons-checkbox-4{
    width: 94%;
    padding: 20px;
    /* margin-top: 0.3rem; */
    justify-content: space-between;
    display: flex;
  }

  .add-on-amount-2, .add-on-level-2 h6{
    color: var(--marineblue);
    font-weight: 500;
     }
     .add-on-amount-3, .add-on-amount-4{
      margin-top: -0.3rem;
      color: hsl(213, 96%, 18%, 0.8);
      font-weight: 500;
       }
       .add-on-amount-4{
        font-size: 20px;
        color: var(--purplishBlue);
       }
  .ruler{
    background: hsl(231, 11%, 63%, 0.2);
    width: 90%;
    height: 0.1rem;
    margin-left: 20px;
     
  }
  .service p{
    color: var(--CoolGray);
  }

  .mini-plan-btn-2{
    justify-content: space-between;
    width: 76%;
    margin-top: 7rem;
    margin-left: 6.6rem;
    display: flex;
  }
  
  .mini-plan-btn-2 .planButton-2{
    color: var(--White);
    background-color: var(--marineblue);
  }


 /******************************************
  The css for thank you stage begins here 
  ********************************************/

  .thankyou-level{
       margin-top: 9rem;
       /* margin-right: auto; */
       text-align: center;
  padding: 15px;
  }
  .thankyou-level img{
    padding-bottom: 21px;
  }
  .thankyou-level p{
    color: var(--CoolGray);
    font-size: 17px;
  }

  .thankyou-level h4{
    color: var(--marineblue);
    font-weight: 700;
  }
#backimage{
  display: none;
}


.subscriptionConfirmationB{
  display: none;
}

  /******************************************
          All media queries begins here
  ********************************************/
 






 /******************************************
  CCS media queries  width 1024PX
  ********************************************/

 @media screen and (max-width:1024px){
.siderBar {
     background-image: none;
      background-size: unset;
      background-position: unset;
      height: auto;
  }

  .parent-Circle {
    margin-left: 1rem;
    margin-top: -32rem;
    position: relative;
}

  #backimage{
    display: block;
    margin-top: -13rem;
  }

.display-one, .display-two, .display-three, .display-four {margin-left: -4.4rem;}



.form-check{
margin-right: 27px;
}

.Mini-plan {
    justify-content: space-evenly;
    width: 80%;
    margin-left: 6rem;
 }
 .Main-form {width: 80%;}

 .validate{margin-left: 15rem;}

.validate-2 {margin-left: 11rem;}


 }


 @media screen and (max-width:912px){
.Personal-Info-details button {
    margin-top: 3rem;
    margin-left: 14rem;}

    .Main-form {width: 86%;}

 }

 @media screen and (max-width:820px){

  #largeStorage {
    margin-left: -5.5rem;
  }

 .add-on-level-1 {
  margin-left: -3.5rem;}

  #onlinepara{
    width: 200%;}

    #Customizable {
      margin-left: -3rem;
  }
  .pickOnSelected{width: 150%;}
  .pickOnParagra{width: 130%;}
  .pick-add-ons {
    margin-left: 6rem;
}


  }

 /******************************************
  CCS media queries  width 768PX
  ********************************************/

 @media screen and (max-width:768px){
    .Main-form {width: 100%;}


    .siderBar {
      background-image: none;
      background-size: unset;
      background-position: unset;
      height: auto;
    }

      .display-three {
        margin-top: -0rem;
        margin-left: -4rem;
    }
    #backimage{
    display: block;
    /* position: relative; */
    margin-top: -13rem;
    }


    .parent-Circle {
      margin-left: 0rem;
      margin-top: -32rem;
      position: relative;
  }

  .Personal-Info-details button{
    margin-left: 14rem;
  }


  .Mini-plan {
    justify-content: start;
    width: 88%;
    margin-left: 6rem;
    gap: 10px;
}

.btnDisplay{
  display: block;
}

.btnDisplay-2{
  display: none;
  }

  .Add-ons-box-1 h6{
    font-size: 18px;
  }

  .Add-ons-box-1 {
    padding: 10px;
    width: 100%;}
    
    .add-on-level-1 {
      margin-left: -5rem;
      margin-top: 5px;
  }
  
 
  
  .add-on-level-1  h6{
    
    /* width: 130%; */
    color: var(--marineblue);
  }


  #largeStorage {
    margin-left: -8rem;
}
#Customizable {
  margin-left: -3.5rem;
}

#Customizable p{
 width: 200%;
}

.switch {width: 9%;}


  }



  @media screen and (max-width:731px){
    .Main-form {
      width: 97%;
  }
  }


  @media screen and (max-width:667px){
    .Main-form {
      width: 100%;
  }

  .display-two{
    margin-left: -5rem;
  }


  .Mini-plan {width: 85%;}

  .pick-add-ons {margin-left: 5rem;}
  
  .yearly-plan-section {font-size: 13.9px;}

  .button-switch {width: 78%; margin-left: 6rem;}

  .mini-plan-btn {
    width: 78%;
    margin-top: 7rem;
    margin-left: 5rem}




  }



   @media screen and (max-width:540px){
    .Main-form {flex-direction: column; background: none;}

      .siderBar {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-size: contain;
    background-position: inherit;
    height: 40vh;
    margin-top: -1rem;
    width: 106%;
  border-radius: 0px;
  }

    #backimage {
      display: none;
  }

  .form-Page {
    width: 490px;
  background: var(--White);
  border-radius: 10px;
  margin-top: -10rem;
  padding: 20px;
  height: 525px;
  }

   .parent-Circle {
    /* margin-top: 1rem; */
    display: flex;
    margin-left: 3.5rem;
    margin-top: 24px;
  } 

 .info-steps {display: none;}
 .Personal-Info-details button {margin-top: 0.8rem; margin-left: 16rem;}
.circle-group {padding: 10px 15px;}


.mini-plan-btn { margin-top: 4.5rem; margin-left: 4rem; width: 87%;}

.display-three {margin-left: -6rem;}

.Add-ons-box-1 {width: 90%;}


.button-switch {width: 80%; margin-left: 6rem;}

.monthly, .yearly {font-weight: 700;}

.validate{margin-top: 2.9rem; margin-left: 11rem;}

.validate-2 {margin-top: 2.9rem; margin-left: 7.2rem;}

.Personal-Info-details {
    margin-top: 1rem;}


.planButton-1 { margin-left: 1rem;}
.stuborn-btn{margin-top: 3rem; width: 80%;}
.becareFul{margin-left: 3rem;}

.stuborn-btn-2{width: 76%;
    margin-top: 3rem;
    margin-left: 5rem;}

    .subscriptionConfirmationB{display: block;}
    .subscriptionConfirmationA{display: none;}

    .pick-add-ons {
      margin-left: 7rem;
  }

  .thankyou-level {
    margin-top: 5rem;}


   }







  /******************************************
          CSS media queries  width 414PX
  ********************************************/

  @media screen and (max-width:414px){

    .Main-form {flex-direction: column; background: none;}

    #backimage {
      display: none;
  }

  .siderBar {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-size: contain;
    background-position: inherit;
    height: 40vh;
    margin-top: -1rem;
    width: 106%;
  border-radius: 0px;
  }

  .form-Page {
    width: 383px;
  background: var(--White);
  border-radius: 10px;
  margin-top: -15rem;
  padding: 20px;
  height: 525px;
  }


  .parent-Circle {
    /* margin-top: 1rem; */
    display: flex;
    margin-left: 2.5rem;
    margin-top: 24px;
  } 


  .info-steps {display: none;}

    .Personal-Info-details {margin-left: 5rem;}
    .Personal-Info-details .control-input {width: 95%;}
    .Personal-Info-details button {margin-left: 13rem; margin-top: 1rem;}

    .biodata-form-page h3 {
      margin-top: 0.5rem;
      margin-left: 4rem;
  }
  .biodata-form-page p {margin-left: 4.1rem;}

  .btnDisplay{
    display: none;
  }

  .btnDisplay-2{
    display: block;
    }

    .attribution {margin-top: 3rem}

    .circle-main {
      margin-left: 1rem;
  }

  .Mini-plan {
    
    width: 94%;
    margin-left: 4rem;
   
}

.yearly-plan-section {
  font-size: 13px;
}

.mini-plan-btn {
  margin-top: 6rem;
  margin-left: 3rem;
  width: 86%;
}
.monthly, .yearly {
  font-weight: 700;
}
.switch {width: 9%;}
.button-switch {width: 85%; margin-left: 4rem;}
   #stuborn-btn{
    margin-top: 4rem;
   } 


   .mini-plan-btn-2{
    margin-top: 3rem;
    margin-left: 5rem;
   } 
   .pick-add-ons {
    margin-left: 4rem;
}

.add-on-level-1 {
  margin-left: -3.5rem;}

  #onlinepara{
    width: 200%;}

  #largeStorage {
    margin-left: -6rem;
}


.validate{font-size: 12px; margin-top: 2.9rem; margin-left: 11rem;}

.validate-2 {font-size: 12px; margin-top: 2.9rem; margin-left: 7.5rem;}


.display-three {margin-left: -4rem;}
.Add-ons-box-1 {width: 100%;}

.planButton-1 {
  margin-left: 0rem;
}
.becareFul {margin-left: 0.6rem;}


.thankyou-level {margin-top: 5rem;}

.subscriptionConfirmationA{
  display: none;
}
.subscriptionConfirmationB{
  display: block;
}

  }


 /******************************************
  CCS media queries  width 411PX
  ********************************************/
@media screen and (max-width:411px){
.form-Page {margin-top: -5rem;}

.Add-ons-box-1 {width: 100%;}

.display-three {margin-left: -4rem;}

}



@media screen and (max-width:393px){
  .form-Page {margin-top: -13rem;     width: 379px; }


  .Mini-plan {margin-left: 4.3rem;}
}


 /******************************************
  CCS media queries  width 357PX
  ********************************************/

  @media screen and (max-width:375px){
    .btnDisplay{
      display: none;
    }
      
    #backimage {
    display: none;
   
}


    .Main-form {
      width: 100%;
      flex-direction: column;
      background: hsl(212, 45%, 89%);
      
  }

    .display-one, .display-two, .display-three, .display-four {
    margin-top: 0rem;
     margin-left: 0rem;
}
  .form-Page {
    width: 340px;
  background: var(--White);
  border-radius: 10px;
  margin-top: -10.5rem;
  padding: 20px;
  height: 490px;
  }

    .Personal-Info-details {
      /* margin-top: 2rem; */
     margin-left: 0rem}


     #mobileBtn {    
      margin-top: -3rem;
      margin-left: 13rem;
      position: absolute;
      
    }
    .btnDisplay-2{
      display: block;
      }


  .siderBar {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-size: initial;
    background-position: initial;
    /* height: 30vh; */
    margin-top: -1rem;
    width: 108%;
  border-radius: 0px;
  }

    .parent-Circle {
      /* margin-top: 1rem; */
      display: flex;
      margin-left: 4.3rem;
      margin-top: 9px;
    }  

    .info-steps {
    
      display: none;}


      .circle-main {
        margin-left: 0rem;
       }
       

.biodata-form-page h3 {margin-left: -0.8rem; margin-top: 13px;}
.biodata-form-page p {margin-left: -0.8rem; width: 85%;}
.Personal-Info-details .control-input {width: 95%;}


.attribution {display: none;}

.formBackground{ 
  background: var(--White);
  margin-top: 6.2rem;
  position: inherit;
  margin-left: -2.2rem;
  width: 23rem;
  height: 60px; 
   top: 39rem;
}
.validate{font-size: 12px; margin-top: 2.9rem; margin-left: 9rem;}

.validate-2 {font-size: 12px; margin-top: 2.9rem; margin-left: 6rem;}




 /******************************************
  CCS media queries MINI PLAN begins here
  ********************************************/
  .Mini-plan {
   flex-direction: column;
   gap: 10px;
   margin-left: 0rem;
   width: 75%
}

.plan-1, .plan-2, .plan-3 {
  display: flex;
  gap: 10px;
  width: 134%;
    height: 5rem;
}

.plan-selection {margin-top: 0.4rem;}



.button-switch {width: 100%; margin-left: 0rem}

.buttonSwitchDisplay{
  display: none;
 }

.buttonSwitchDisplayB{
  display: block;
 }

 .switchB{
  position: relative;
  background-color: var(--marineblue);
  width: 10%;
  /* padding: 10px; */
margin-top: 7px;
  border-radius: 10px;
  height: 50%;
cursor: pointer;}

  .switchB::after{
    position: absolute;
    content: " ";
    /* padding: 10px; */
    top: 2px;
    left: var(--mobile-value, 4px);
     /* left: 16px; */
    /* margin-bottom: 1rem; */
    /* margin: 4px; */
    width: 35%;
    background-color: var(--Magnolia);
    height: 80%;
    border-radius: 50%;
  }
  .monthlyB{
    color: var(--marineblue);
    font-weight: 700;
  }

   .yearlyB{
    color: var(--CoolGray);
    font-weight: 700;
  }

.mini-plan-btn{
 margin-top: 4rem;
}
.mini-plan-btn-2{
  margin-top: 10.5rem;
}


  .mini-plan-btn,  .mini-plan-btn-2 {
    justify-content: unset;
    width: 130%;
    margin-left: -3rem;
    padding: 10px;
    background: white;
   
}
.mini-plan-btn .planButton-2, .mini-plan-btn-2 .planButton-2 {
  margin-left: 10rem;
  /* padding: 1.5%; */
}

  .pick-add-ons {
    margin-left: 0rem;
    margin-top: 2rem;
}
.Add-ons-box-1 {
  padding: 10px;
  width: 100%;}

  .add-on-level-1 {
    margin-left: -2rem;
    margin-top: 10px;
}

.add-on-level-1  p{
  font-size: 12px;
  width: 130%;
  margin-top: -4px;
}

.add-on-level-1  h6{
  /* font-size: 14px; */
  /* width: 130%; */
  color: var(--marineblue);
}
.Add-ons-box-1 h6{
      font-size: 17.2px;
      width: 130%;
      /* color: var(--marineblue); */
}

#largeStorage {
  margin-left: -4rem;
}

#Customizable {
  margin-left: -1.8rem;
}

.form-check {
      margin-right: 0px;
  margin-top: 5px;}

.add-on-amount {  margin-top: 13px;}

#addOnP{
  width: 93%;
}



.planButton-1 {
  
  margin-left: 0.5rem;
}


#stuborn-btn{margin-top: 7rem;}


.Add-ons-box-2 {width: 100%;}
/* .serviceAmountUpdate{margin-left: 1rem;} */
.Add-ons-checkbox-4 {
    width: 104%;}


    .thankyou-level {margin-top: 4rem;}
    .thankyou-level p{ font-size: 14.7px;}

    .subscriptionConfirmationB{
      display: block;
     
    }
    .subscriptionConfirmationA{
      display: none;
    }

    .nawaForu{
width: 100%;
    }


  }


 /******************************************
  CCS media queries  width 360PX
  ********************************************/

    @media screen and (max-width:360px){
#mobileBtn {margin-top: -3rem;}

.form-Page { margin-top: -12.2rem;}

.mini-plan-btn, .mini-plan-btn-2 {margin-top: 8rem; width: 127%; }


#stuborn-btn{margin-top: 12rem;}

#stuborn-btn-2{margin-top: 12rem;}

.monthlyB, .yearlyB  {font-weight: 700;}


.formBackground {position: inherit; width: 22.8rem; margin-top: 9.9rem;    height: 70px;}




    }



    @media screen and (max-width:320px){

.form-Page {margin-top: -3.2rem; width: 310px;}
.formBackground {width: 21rem; margin-top: 5rem;}
#mobileBtn {margin-left: 11rem;}
.siderBar {height: 21vh;}

.parent-Circle {margin-left: 3.4rem}

.mini-plan-btn .planButton-2, .mini-plan-btn-2 .planButton-2 {
    margin-left: 7rem;
}
#largeStorage {margin-left: -2rem;}
.planButton-1 {margin-left: 1rem;}
.Add-ons-box-2 {width: 100%;}
/* .serviceAmountUpdate{margin-left: 1rem;} */
.Add-ons-checkbox-4 {
    width: 104%;}

}


@media screen and (max-width:280px){
  .parent-Circle {
    margin-left: 0.2rem;
}

.form-Page {width: 270px;}

.formBackground {
display: none;
}

#mobileBtn {
  margin-left: 7.3rem;
  margin-top: -0.5rem;
}

.biodata-form-page p {
  width: 100%;
}

.Mini-plan { margin-top: -2px}

.button-switch {margin-top: 0.5rem;}

.switchB {width: 14%;}



}